* {
  margin: 0;
}

a { color: #456F99; }
a:visited { color: #2B4661; }
a:hover { color: #649986; }
a:active { color: #991C46; }
html, body
{
  height: 100%;
  background: #ddd;
}
body, textarea
{
  font-family: Arial, sans-serif;
}

#content
{
  background: #fff;
  margin: 0 auto -50px;
  width: 800px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 0 20px;
}

h1
{
  padding-top: 20px;
}

form
{
}

form label, form input
{
  display: block;
}
form input#title, form input#url
{
  width: 95%;
  font-size: 1.5em;
  padding: 0.2em;
  margin-bottom: 1em;
}

form textarea#body
{
  width: 95%;
  font-size: 1.2em;
  padding: 0.2em;
  height: 50%;
}

form a.cancel
{
  float: right;
  margin-right: 1em;
  margin-top: 1em;
  line-height: 30px;
}
form input.save
{
  float: right;
  margin-right: 5%;
  margin-top: 1em;
  width: 100px;
  height: 40px;
  border: none;
  display: block;
  background: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form input.save:hover
{
  background: #aaa;
}

form input.save:active
{
  background: #999;
}

#footer
{
  margin: 0 auto;
  width: 800px;
  height: 50px;
}

#footer #pageinfo
{
  float: right;
  color: #777;
  font-size: 0.8em;
}

#content p
{
  margin: 1em 0;
}
