html
{
  margin: 0;
}
body
{
  font-family: Arial, sans-serif;
}

#content
{
  margin: 0 auto;
  width: 800px;
}

form
{
}

form label, form input
{
  display: block;
}
form input#title, form input#url
{
  width: 95%;
  font-size: 1.5em;
  padding: 0.2em;
  margin-bottom: 1em;
}

form textarea#body
{
  width: 95%;
  font-size: 1.2em;
  padding: 0.2em;
  height: 50%;
}

form input.save
{
  float: right;
  margin-right: 5%;
  margin-top: 1em;
  width: 100px;
  height: 40px;
  border: none;
  display: block;
  background: #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form input.save:hover
{
  background: #aaa;
}

form input.save:active
{
  background: #999;
}