* {
  margin: 0;
}

a { color: #456F99; }
a:visited { color: #2B4661; }
a:hover { color: #649986; }
a:active { color: #991C46; }
html, body
{
  height: 100%;
  background: #ddd;
}
body, textarea
{
  font-family: Arial, sans-serif;
}

#content
{
  background: #fff;
  margin: 0 auto -70px;
  width: 800px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding: 0 20px;
}

h1
{
  padding-top: 20px;
}

form
{
}

form label, form input
{
  display: block;
}
form input#title, form input#url
{
  width: 100%;
  font-size: 1.5em;
  padding: 0.2em;
  margin-bottom: 1em;
}

form textarea#body
{
  width: 100%;
  font-size: 1.2em;
  padding: 0.2em;
  height: 50%;
}

form a.cancel
{
  float: right;
  margin-right: 1em;
  margin-top: 1em;
  line-height: 30px;
}

form input.save, form input.delete, form input.previewbtn
{
  margin-top: 1em;
  border: none;
  display: block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height: 40px;
  padding: 0 30px;
}

form input.save, form input.previewbtn
{
  float: right;
  background: #ccc;
}

form input.save:hover, form input.previewbtn:hover
{
  background: #aaa;
}

form input.save:active, form input.previewbtn:active
{
  background: #999;
}

form input.delete
{
  background: #C69498;
}

form input.delete:hover
{
  background: #C60016;
}

form input.delete:active
{
  background: #91000F;
}

#preview
{
  display: none;
  width: 99%;
  height: 49%;
  font-size: 1em;
  padding: 0.2em;
  border: 1px solid #333;
  overflow: auto;
}

#editbtn
{
  display: none;
}

.previewbtn
{
  margin-right: 1em;
}

#footer
{
  margin: 0 auto;
  width: 800px;
  height: 50px;
  margin-top: 10px;
}

#footer #pageinfo
{
  float: right;
  color: #777;
  font-size: 0.8em;
}

#footer #versioning
{
  float: right;
  color: #777;
  font-size: 0.8em;
  padding: 0 10px;
  margin: 0 10px;
  background: #ffff99;
}

#footer #versioning form, #footer #versioning form input
{
  display: inline;
}

#footer #links
{

}

#content p
{
  margin: 1em 0;
}

#content hr
{
  margin: 20px 10px;
  border: 0;
  height: 1px;
  background-color: #333;
}

#content h1, h2, h3, h4, h5
{
  margin-bottom: 0.5em;
}

ul#pages
{
  padding: 20px 0;
}
#pages li.page
{
  list-style: none;
  padding: 5px;
}

#pages li.page.odd
{
  background-color: #dddddd;
}

#pages li.page.head
{
  color: #777;
  font-style: italic;
}

#pages li.page span.version
{
  float: right;
  width: 50px;
  text-align: center;
  font-size: 0.8em;
}

#pages li.page span.updated
{
  float: right;
  width: 250px;
  font-size: 0.8em;
}
